.breadcrumb-bg{
    background-color: #eef6ff !important;
    padding: 10px 0px !important;
}
.banner {
	height: 350px;
	overflow: hidden;
	img {
		height: 350px;
		object-fit: cover;
	}
    .black {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.711);
      }
	.breadcrum {
		width: 100%;
		height: 100%;
		top: 0;
		.page-tittle {
            @include font-lato;
			color: white;
            font-size: 30px;
            font-weight: 600;
			line-height: 36px;
			span {
				color: $primary-color;
			}
			@media(max-width:767px){
				font-size: 24px;
			line-height: 30px;
			}
		}
	}
}
